/*Fonts & Texts*/
@font-face {
    font-family: 'SF-Pro-Display';
    src: url(../font/SF-Pro-Display-Thin.otf);
    font-weight: normal;
    font-style: normal;
}
h1 {
    margin: 0;
    font-size: 3em;
    padding: 0.25vw;
    color: #fafafa;
    font-weight: 100;
    font-family: "SF-Pro-Display", Helvetica, Arial, sans-serif;
}
h2 {
    margin: 0;
    font-size: 1.25em;
    padding: 0.5vw;
    margin-top: 0.5em;
    color: #fffad1;
    font-weight: 100;
    word-spacing: 0.5em;
    letter-spacing: 0.15em;
    font-family: "SF-Pro-Display", Helvetica, Arial, sans-serif;
}
h3 {
    margin: 0;
    padding: 0;
    font-size: 2.25em;
    color: #fafafa;
    font-weight: 500;
    font-family: "SF-Pro-Display", Helvetica, Arial, sans-serif;
}
span {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1em;
    color: #fafafa;
    font-weight: 500;
    font-family: "SF-Pro-Display", Helvetica, Arial, sans-serif;
    float: right;
    transition: 0.2s;
}
span:hover {
    cursor: pointer;
}
.span-change {
    color: #fafafa;
}
.topic-heading {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,-50%);
}
.topic-heading-line {
    width: 100%;
    display: inherit;
    border-top: 1px solid #fffad1;
}
p {
    margin: 0;
    font-size: 1.2em;
    word-spacing: 0.125em;
    padding: 2vw;
    padding-right: 15vw;
    color: #fafafa;
    font-weight: 100;
    font-family: "SF-Pro-Display", Helvetica, Arial, sans-serif;
    line-height: 150%;
}
.text-container p {
    text-indent: 1em;
}
.project-link {
    border: 1px solid #fffad1;
    border-radius: 1.5em;
    margin: 0;
    padding: 1em;
    font-size: 1.25em;
    color: #fafafa;
    font-weight: 100;
    font-family: "SF-Pro-Display", Helvetica, Arial, sans-serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}
.web-link {
    margin: 0;
    padding: 1em;
    font-size: 1em;
    text-align: center;
    color: #fafafa;
    font-weight: 100;
    font-family: "SF-Pro-Display", Helvetica, Arial, sans-serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}
b {
    font-weight: inherit;
}
h6 {
    margin: 0;
    font-size: 1em;
    padding: 0;
    color: #aaa;
    font-weight: 100;
    font-family: "SF-Pro-Display", Helvetica, Arial, sans-serif;
    position: absolute;
    top: 0;
    right: 2em;
}
.shot-stamp {
    transform: rotate(270deg);
    transform-origin: right top 0;
}
a {
    color: #fafafa;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}

/*Nav*/
.nav-wrapper {
    width: 100vw;
    display: inline-block;
    vertical-align: top;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    transition: 0.2s;
}
.nav-wrapper-add {
    background-color: #080808;
}
.nav-left {
    padding: 1vw;
    float: left;
    width: auto;
    height: 100%;
}
.nav-right {
    padding: 1vw;
    float: right;
    width: auto;
    height: 100%;
}

/*Loading Styles*/
#load {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100%;
    z-index: 9999;
    opacity: 1;
    background-color: #080808;
    transition-duration: 0.5s;
}
#loading-container {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}
#loading-image{
    max-height: 15vw;
    max-width: 15vw;
}

/*Logo*/
#logo-img {
    height: 3em;
    padding: 0.5em;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    display: inherit;
}
#logo-img:hover {
    cursor: pointer;
}
.loading-bar {
    margin-top: 3em;
    background-color: #555;
    width: 15vw;
    height: 3px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}
.red-bar {
    animation: sideToside 1.75s ease-in-out infinite;
    background-color: #fffad1;
    height: 100%;
    position: absolute;
    width: 50%;
}
@keyframes sideToside {
    0%, 100% { transform: translateX(-50%); }
    50%      { transform: translateX(150%); }
}

/*Containers*/
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100%;
    background-color: #080808;
    overflow-x: hidden;
}
#body-container{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100%;
    transition-duration: 1.5s;
    display: block;
    opacity: 0;
    transition-duration: 1.25s;
    overflow: hidden;
}
div {
    box-sizing: border-box;
}
.page {
    width: 100vw;
    height: 100%;
    display: flex;
}
.ds-split {
    width: 50vw;
    height: 100%;
    padding: 1vw;
    display: flex;
    align-items: center;
}
.ds-split-small {
    width: 25vw;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #080808;
    box-shadow: 0 20px #080808;
}
.ds-split-big {
    width: 75vw;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;
}
.photo-label {
    color: #fafafa;
    background-color: #1c1c1c;
    font-size: 0.8em;
    font-weight: 500;
    padding: 0.5em;
    font-family: "SF-Pro-Display", Helvetica, Arial, sans-serif;
    position: absolute;
    bottom: 4vw;
    left: -2vw;
    opacity: 0;
    display: none;
    z-index: -1;
}
.section-all {
    width: 100vw;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;
}
.split-content{
    width: auto;
    height: auto;
    display: block;
}
.text-banner {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 180px;
    background-color: #080808;
}
.image-divider {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 150px;
    background-color: #080808;
}

/*Parallax*/
.parallax-wrapper {
    width: 100vw;
    height: 40vw;
    display: flex;
}
.text-wrapper {
    width: 100vw;
    height: auto;
    display: flex;
}
.text-container {
    width: 100vw;
    height: auto;
    padding-top: 4em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 1em;
}

/*Slick*/
.slick-container {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    background-color: #080808;
}
.slick-wrapper div {
    margin-top: 0;
    padding-top: 0;
    width: 100vw;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slick-wrapper {
    position: relative !important;
}
.slick-text {
    position: absolute;
    bottom: 200px;
    left: 1em;
    z-index: 3000;
}
#cover-overlay {
    position: absolute;
    z-index: 1000;
    background-color: rgba(0,0,0,0.65);
}

/*Scroll Bar Styles*/
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background: #fffad1;
}
::-webkit-scrollbar-track {
    background: #080808;
}

/*Selection Style*/
::selection {
    color: #f1f1f1;
    background: #555;
}
::-moz-selection {
    color: #f1f1f1;
    background: #555;
}

/*Down Arrow Styles*/
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#down-arrow-container {
    position: absolute;
    display: inline-block;
    bottom: 25px;
    left: 50vw;

    transform: translateX(-50%);
    z-index: 1100;
}
u {
    border: solid #fafafa;
    border-width: 0 4px 4px 0;
    display: inline-block;
    margin-top: 5vh;
    padding: 10px;
    cursor: pointer;
}

/*Contact*/
.contact-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.contact-container {
    padding: 1em;
}
.contact-img {
    height: 1.1em;
}
.contact-text {
    font-size: 1.1em;
    display: inline;
    padding: 0.25em;
    padding-left: 0.75em;
    margin: 0;
}

/*Footer*/
.footer {
    width: 100vw;
    height: auto;
    padding: 2vw;
    text-align: center;
    background-color: #080808;
}
.footer-img {
    width: 5em;
}
.footer-text {
    font-size: 1em;
    padding: 1vw;
}

/*MOBILE SUPPORT*/
@media only screen and (max-width: 100vh) {
/*Fonts & Texts*/
h1 {
    margin: 0;
    font-size: 2.5em;
    padding: 0.25vw;
    color: #fafafa;
    font-weight: 100;
    font-family: "SF-Pro-Display", Helvetica, Arial, sans-serif;
}
h2 {
    margin: 0;
    font-size: 1em;
    padding: 0.5vw;
    margin-top: 0.5em;
    color: #fffad1;
    font-weight: 100;
    word-spacing: 0.5em;
    letter-spacing: 0.15em;
    font-family: "SF-Pro-Display", Helvetica, Arial, sans-serif;
}
h3 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: #fafafa;
    font-weight: 500;
    font-family: "SF-Pro-Display", Helvetica, Arial, sans-serif;
}
p {
    margin: 0;
    font-size: 1em;
    word-spacing: 0.125em;
    padding: 2vw;
    padding-top: 4vw;
    color: #fafafa;
    font-weight: 100;
    font-family: "SF-Pro-Display", Helvetica, Arial, sans-serif;
    line-height: 150%;
}
b {
    font-weight: inherit;
}
h6 {
    margin: 0;
    font-size: 0.8em;
    padding: 0;
    color: #aaa;
    font-weight: 100;
    font-family: "SF-Pro-Display", Helvetica, Arial, sans-serif;
    position: absolute;
    top: 0;
    right: 1.5em;
}
.shot-stamp {
    transform: rotate(270deg);
    transform-origin: right top 0;
}
a {
    color: #fafafa;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}
    
/*Nav*/
.nav-wrapper {
    width: 100vw;
    display: none;
    vertical-align: top;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.2s;
}

/*Loading Styles*/
#load {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100%;
    z-index: 9999;
    opacity: 1;
    background-color: #080808;
    transition-duration: 0.5s;
}
#loading-container {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}
#loading-image{
    max-height: 50vw;
    max-width: 50vw;
    animation: 1s rotate360 infinite ease;
}
.loading-bar {
    margin-top: 3em;
    background-color: #555;
    width: 40vw;
    height: 2px;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}
.red-bar {
    animation: sideToside 1.75s ease-in-out infinite;
    background-color: #fffad1;
    height: 100%;
    position: absolute;
    width: 50%;
}
@keyframes sideToside {
    0%, 100% { transform: translateX(-50%); }
    50%      { transform: translateX(150%); }
}

/*Logo*/
#m-logo-img {
    height: 5em;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}    
    
/*Containers*/
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100%;
    background-color: #080808;
    overflow-x: hidden;
}
div {
    box-sizing: border-box;
}
.page {
    width: 100vw;
    height: 100%;
    display: flex;
}
.ds-split {
    width: 50vw;
    height: 100%;
    padding: 5vw;
    display: inherit;
    align-items: flex-end;
}
#cover-ds-split {
    width: 100vw;
    height: auto;
    padding: 5vw;
    display: inherit;
    align-items: flex-end;
    position: relative;
}
.split-content{
    width: auto;
    height: auto;
    display: block;
}
#cover-split-content{
    width: auto;
    height: auto;
    display: block;
    position: relative;
}
.text-banner {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100px;
    background-color: #080808;
}
.image-divider {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 50px;
    background-color: #080808;
}
/*Mobile Specific Containers*/
.text-container {
    width: 100vw;
    height: auto;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}
section {
    text-align: center;
    padding: 4vw;
    width: 92vw;
}
.m-border {
    width: 15vw;
    height: 50vw;
    background-color: #080808;
    position: relative;
    white-space: nowrap;
}
.project-link {
    display: none;
}
.text-wrapper {
    width: 100vw;
    height: auto;
    display: inherit;
    text-align: center;
}
.topic-heading {
    position: inherit;
    text-align: center;
    display: inline-block;
    left: 50vw;
    top: 0;
    transform: translate(-50%,0%);
    margin: 0 auto;
}
.topic-heading-line {
    width: 0;
    display: none;
    border-top: 0px solid #fffad1;
}
.ds-split-small {
    width: 15vw;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #080808;
    box-shadow: 0 20px #080808;
}
.ds-split-big {
    width: 70vw;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;
}
.photo-label {
    color: #fafafa;
    background-color: #1c1c1c;
    font-size: 0.8em;
    font-weight: 500;
    padding: 0.5em;
    font-family: "SF-Pro-Display", Helvetica, Arial, sans-serif;
    position: absolute;
    bottom: 4vw;
    left: -2vw;
    opacity: 1;
    display: inherit;
    z-index: 10;
}
.parallax-wrapper {
    width: 100vw;
    height: 42vw;
    display: flex;
}

/*Slick*/
.slick-container {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #080808;
    position: relative;
}
.slick-wrapper {
    position: relative !important;
}
.slick-text {
    position: absolute;
    bottom: 200px;
    left: 0em;
    z-index: 3000;
}
.slick-wrapper div {
    margin-top: 0;
    padding-top: 0;
    width: 100vw;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Selection Style*/
::selection {
    color: #f1f1f1;
    background: #555;
}
::-moz-selection {
    color: #f1f1f1;
    background: #555;
}

/*Down Arrow Styles*/
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#down-arrow-container {
    position: absolute;
    display: none;
    bottom: 25px;
    left: 50vw;
    opacity: 0;
    z-index: -1000;
    transform: translateX(-50%);
    z-index: 1100;
}
u {
    border: solid #1c1c1c;
    border-width: 0 4px 4px 0;
    display: inline-block;
    margin-top: 5vh;
    padding: 10px;
    cursor: pointer;
}

/*Contact*/
.contact-wrapper{
    position: inherit;
    transform: translate(0,0);
    width: auto;
    padding-left: 10vw;
    padding-bottom: 10vw;
    text-align: left;
}
.contact-container {
    padding: 1em;
}
.contact-img {
    height: 0.85em;
}
.contact-text {
    font-size: 0.85em;
    display: inline;
    padding: 0.25em;
    padding-left: 0.75em;
    margin: 0;
}

/*Footer*/
.footer {
    width: 100vw;
    height: auto;
    padding: 2vw;
    text-align: center;
    background-color: #080808;
}
.footer-img {
    width: 2em;
}
.footer-text {
    font-size: 0.7em;
    padding: 1vw;
}
}
